<!-- This page is the content page for the Homepage.  Index set to true means you have the post extracts but not the sidebar.  Veronique -->

<html>Contenu de la homepage</html>

<table>
	<tr>
		<td>col1row1</td>
		<td>col2row1</td>
	</tr>
</table>

<% if(page.content){ %>
  <%- page.content %>
<% } else { %>
  <div class="container">
    <ul class="breadcrumb">
      <li class="active">Home</li>
    </ul>
  <div id="main">
    <%- partial('_partial/archive', {pagination: config.archive, index: true}) %>
  </div>
  </div>
<% } %>
